// colors
$white: #fff;
$black: #000;
$red: #f00;
$green: #3d663d;
$black-333: #333;
$black-888: #888;
$black-999: #999;
$color-808080: #808080;
$color-f2f2f2: #f2f2f2;
$color-f6f6f6: #f6f6f6;
$color-4d4d4d: #4d4d4d;
$color-ddd: #ddd;
$color-ec9b40: #ec9b40;
$color-fef6cf: #fef6cf;
$color-edffed: #edffed;
$color-eaeaea: #eaeaea;
$color-f4f4f4: #f4f4f4;
$color-3e4a3d: #3e4a3d;
$color-262626: #262626;
$color-f7f7f7: #f7f7f7;
$color-b3b3b3: #b3b3b3;
$color-c4c4c4: #c4c4c4;
$color-f6fef6: #f6fef6;
$color-353f50: #353f50;
$color-dc4437: #dc4437;
$color-e6e6e6: #e6e6e6;

$col-000-1: rgba(0, 0, 0, 0.1);
$col-000-3: rgba(0, 0, 0, 0.3);
$col-000-12: rgba(0, 0, 0, 0.12);
$col-000-08: rgba(0, 0, 0, 0.08);
$col-fff-12: rgba(255, 255, 255, 0.1);
$col-333-5: rgba(51, 51, 51, 0.5);

$col-3d663d-10: rgba(61, 102, 61, 1);
$col-3d663d-6: rgba(61, 102, 61, 0.6);
$col-3d663d-8: rgba(61, 102, 61, 0.8);
